body {
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, section, footer {
    padding: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    color: black;
}

nav ul li a {
    text-decoration: underline;
}

header {
    background-color: #f7d2ba;
}

nav {
    background-color: #a8d0e6;
}

section {
    background-color: #f7f1d1;
}

footer {
    text-align: center;
    background-color: #0b7e65;
    font-size: 15px;
}
